$theme:#8A91A5;
$bar-color: #555;
$ball-color: #555;
$blue: rgb(0,155,255);
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
}
.loaderContainer{
	height: 100%;
	display: flex;
}
.jc{
	display: flex;
}
.jawn {
  position: relative;
  background-color:#EC5959;
  width: 10px;
  height: 10px;
  margin:auto;
  border-radius: 50%;
  
  &:after, &:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
  
  &:after {
    left: -10px;
    top: -5px;
    background-color: #C7C2A6;
    transform-origin: 15px 10px;
    animation: axis 1s linear infinite;
  }
  &:before {
    left: -25px;
    top: -15px;
    background-color: $blue;
    transform-origin: 30px 20px;
    animation: axis 2s linear infinite;
  }
}

@keyframes axis {
  0% {
    transform: rotateZ(0deg) translate3d(0,0,0);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0,0,0);
  }
}
.col-sm-11{
	width: 91.66666667%;
	float:left;
	position: relative;
    min-height: 1px;
}
.col-sm-1{
	width:8.33333333%;
	float: left;
	position: relative;
    min-height: 1px;
}
.chartloader {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: #03a9f4;
  border-radius: 50%;
  
  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    border: 0px solid white;
    transform: translate(-50%, -50%);
    animation: loading 1000ms ease-out forwards infinite;
  }
  
}

@keyframes loading {
  0% {
    border: 0px solid white;
  }
  
  20% {
    border: 8px solid white;
    width: 0%;
    height: 0%;
  }
  
  100% {
    border: 8px solid white;
    width: 100%;
    height: 100%;
  }
}
.loader {  
  	position: relative;
  	margin:auto;
  	display: inline-block;
  	vertical-align: middle;
  	width: 75px;
  	height: 100px;
  	&__bar {
   		position: absolute;
    	bottom: 0;
    	width: 10px;
    	height: 50%;
    	background: $bar-color;
    	transform-origin: center bottom;
    	box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    	@for $i from 1 through 5 { 
    	   	&:nth-child(#{$i}) {
    	    	left: ($i - 1) * 15px;
         		transform: scale(1,$i*.2);
         		animation: barUp#{$i} 4s infinite;
        	}
    	}
	}
  	&__ball {
    	position: absolute;
    	bottom: 10px;
    	left: 0;
    	width: 10px;
    	height: 10px;
    	background: $ball-color;
    	border-radius: 50%;
    	animation: ball 4s infinite;
  	}
}
@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px)
  }
  17% {
    transform: translate(23px, -24px)
  }
  20% {
    transform: translate(30px, -20px)
  }
  27% {
    transform: translate(38px, -34px)
  }
  30% {
    transform: translate(45px, -30px)
  }
  37% {
    transform: translate(53px, -44px)
  }
  40% {
    transform: translate(60px, -40px)
  }
  50% {
    transform: translate(60px, 0)
  }
  57% {
    transform: translate(53px, -14px)
  }
  60% {
    transform: translate(45px, -10px)
  }
  67% {
    transform: translate(37px, -24px)
  }
  70% {
    transform: translate(30px, -20px)
  }
  77% {
    transform: translate(22px, -34px)
  }
  80% {
    transform: translate(15px, -30px)
  }
  87% {
    transform: translate(7px, -44px)
  }
  90% {
    transform: translate(0, -40px)
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes barUp1 { 
  0% {
    transform: scale(1, .2);
  }
  40%{
    transform: scale(1, .2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(1,.2);
  }
}
@keyframes barUp2 { 
  0% {
    transform: scale(1, .4);
  }
  40% {
    transform: scale(1, .4);
  }
  50% {
    transform: scale(1, .8);
  }
  90% {
    transform: scale(1, .8);
  }
  100% {
    transform: scale(1, .4);
  }
}
@keyframes barUp3 { 
  0% {
    transform: scale(1, .6);
  }
  100% {
    transform: scale(1, .6);
  }
}
@keyframes barUp4 { 
  0% {
    transform: scale(1, .8);
  }
  40% {
    transform: scale(1, .8);
  }
  50% {
    transform: scale(1, .4);
  }
  90% {
    transform: scale(1, .4);
  }
  100% {
    transform: scale(1, .8);
  }
}
@keyframes barUp5 { 
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, .2);
  }
  90% {
    transform: scale(1, .2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.dover{
	background-color: black;
}
#dimensions
{	
}

.navbar img{
	width: 50%;
}
.navbar{
	margin: 0;
}
body{
	background-color: #F4F4F4;
	box-sizing: border-box;
	height: 100vh;
	color: #545A6A;
	overflow-y: hidden;
	overflow-x:auto;
	font-family: 'Montserrat', sans-serif;
	*::-webkit-scrollbar-track
	{
		background-color: rgba(#ffffff,0);
	}

	*::-webkit-scrollbar
	{	
		padding:0px 5px;
		width: 10px;
		position: relative;
		background-color: rgba(#ffffff,0);
		z-index: 10;
	}
	*::-webkit-scrollbar-thumb
	{	
		width:1px;
		border-radius: 50px;
		background-color: rgba(#aaa,0.3);
	}
	.conbtn{
		
		padding: 10px 0px;
	}
	.okbtn{
		background-color: #EC5959;;
		color: white;
		margin:5px;
		width:35%
	}
	.cancelbtn{
		background-color: #B3BACF;
		color: white;
		width: 45%;
	}
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration:none;
}
a:active,a:focus{
	text-decoration:none;
}
#date-range12-container{
	width: max-content;
	margin:auto;
	border-color: #fff;
	.date-picker-wrapper{
		margin: auto;
		padding:0px;
		background-color: #fff;
		border-width: 0px;
		*{
			border-width: 0px;
		}


	}
}

.date-picker-wrapper{
	font-family: 'Montserrat', sans-serif;

	.first-date-selected{
		border-radius: 5px 0px 0px 5px;
	}
	.last-date-selected{
		border-radius: 0px 5px 5px 0px;
	}
	.month-wrapper{
		width: 200px;
		table .day{
			height: 21px;
			margin-bottom:4px;
		}
	}
	.caption{
		color: #000;
	}
	.week-name{
		color:#D2DAE6;
	}
} 
.drp_top-bar{
	display: none !important;
} 
.resultsView{
	background-color: #fff;	
	flex:1 1 auto;	
	position: relative;
	overflow-y:auto;
	overflow-x:auto; 
	height:60vh;
	width: 98%;
	margin:0px auto;
	box-sizing:content-box;
}
.navView{
	height: max-content;
	padding: 1%;
	flex:0 1;
	.viewOption{
		float: right;
		min-width:50px;
		#numForm{
			float: left;
			background-color: #fff;
			padding:0% 0%;
			border-radius:5px; 
			label[for="withf"]{
				border-radius: 0px 5px 5px 0px;
				width: 30px;
			}
			label[for="nonf"]{
				border-radius: 5px 0px 0px 5px;
				width: 55px;
			}
			label{
				background-color: #fff;	
				padding:5% 10%;
				height: 100%;
				margin: 0px;
			}
			input:checked + label{
				background-color: $theme;
				box-shadow: inset 1px 1px 10px -2px #555;
				color:#fff;	
			}
		}
		span{
			float: left;
			margin: 0px 5px;
			width: max-content;
			input{
				display: none;
			}
			button{
				padding: 5% 0px;
			}
			//display: inline-block;
		}
		button{
			padding: 0.3% 0px;
			i{

				position: relative;
				top:2px;
			}
		}
	}
	i{
		margin:0px 5px;
	}
	.active{
		background-color: $theme;
		color:#fff;	
		border: 0px solid $theme;
	}
	button{
		outline-color: none;
		background-color: white;
		box-shadow: none;
		position: relative;
		width: max-content;
		color:$theme;
		margin:0px 0.5%;
		padding: .3% 1%;
		border-radius:5px; 
		border: 0px solid #eee;
		i{
			font-size: 1.5em;
			margin-right:5px;
			position: relative;
		}
		span{
			position: relative;
			font-size: 1em;
			top:-2px;	
		}
	}
}
.container-fluid{
	background-color: white;
	box-shadow:0 2px 5px -2px #888;
	height: 5vh;
	.navbar-header,.nav,.nav-report{
		display: inline-block;
		vertical-align: middle;
	}
	i{
		color:#EC5959;
		margin-right: 10px;
		-webkit-transition:1s; /* Safari */
    	transition:1s;
		&:hover{
			color:#FFF;
			background-color:#EC5959;
			-webkit-transition:1s; /* Safari */
    		transition:1s; 
		}
	}
	.nav-brand{
		padding: 15px 0px;
	}
	ul{
		font-size:20px;
		padding: 10px 0;
		span{
			color:#8F6AB2;
		}
	}
	.nav-report{
		float: right;
		margin: auto 3%;
		margin-top: 10px;
		display: inline-block;
		vertical-align: middle;
		span{
			font-size: 1.3em;
		}
		i{
			font-size: 1.1em;
			color: #545A6A;
			&:hover{
				background-color: #fff;
			}
		}
	}
}
#container-fluid{
	padding: 0% 1%;
	width: 100%;
	#dimensions,#viewcontainer,#measures{
		float: left;
		height: 93.5vh;
	}
	#dimensions,#measures{
		background-color: white;
		min-height: 100%;
		padding: 0px 1%;
		width: 16%;
		overflow-y:scroll;
		overflow-x:auto;
		&::-webkit-scrollbar
		{	
			padding:0px 5px;
			width: 28px;
			position: relative;
			background-color: rgba(#ffffff,0);
			z-index: 10;
		}

		&::-webkit-scrollbar-thumb
		{	
			width:1px;

			border-radius: 50px;
			border:10px solid #fff;  
			border-width:10px;
			background-color: rgba(#aaa,0.3);
		}

	}
	li{
		list-style: none;
		margin-left:3%; 
	}
	#dimensions li,#measures li{
		padding: 1%;
		height: 30px;
		//display: flex;
		&:hover{
			color: #5D8DE4;
			background-color: #F5F5F5;
		}
		i{
			color:#8088A0;
			float: right;
			padding-top:3px;
			margin-left: 3px;
		}
		p{
			white-space: nowrap;
			overflow: hidden;
    		text-overflow: ellipsis;
    		margin-bottom:0; 
    		&:hover{
				cursor:pointer;	
			}
		}			
		a{
			color: #545A6A;
			width: 100%;
			display: flex;
			&:hover{
				color: #5D8DE4;
				background-color: #F5F5F5;
			}
		}
	}
	ul{
		padding: 0;
	}

	.searchicon {
		div{
			margin-left: 6%;
			font-weight:bold;
			font-size: 1.1em;
			padding: 3% 0px;
		}
		.searchBar{
			width: 100%;
			margin:4% auto;
			&:focus{
				outline-color: blue;
			}
			input{
				width: 90%;
				height: 100%;
				border: 0px solid #fff;
				&:focus{
					border: 0px solid #fff; 
					outline-color: transparent;
				}
				&::placeholder{
					font-weight:lighter;
					color: #aaa;
				}
			}
			i{
				width: 10%;
				float: right;
				font-size: 1.5em;
				margin:0px;
				position: relative;
			}
		}	
	}
	#viewcontainer{
		padding: 0% 0%;
		width: 68%;		//	width:max-content;
		display: flex;
		flex-flow: column;
		#filterwrapper{
			background-color: #fff;
			margin:0% 0px;
			padding: 0% 0%;
			box-shadow: inset 17px 0px 25px -25px rgba(0,0,0,0.45), inset -17px 0px 25px -25px rgba(0,0,0,0.45);
			//width: 100%;
			flex:0 1 100px;
		}	
		.rules{
			//width: 100%;
			//border-bottom: 
			width: 100%;
			border-bottom: 1px solid #E7EAF0;
			height: 50px;
			.row{
				display: flex;
			}
			display:table-cell;
			//height: 30%;
			padding: 0% 2%;
			label{
				width: max-content;
				margin:auto 1px;
				//text-align: right;
			}
			ul.col-sm-11{
				min-width: 50%;
				margin: 0px;
				padding:1% 1%;
				display: flex;
				flex-wrap:wrap;
				height: 50px;
				//border: 1px solid #d3d3d3;
				&>li>a ,.dropdown-menu>li>a {
				    display: block;
				    padding: 5px;
				    font-size: 12px;
				}
				.dropdown-menu {
					min-width: 120px;
					left:inherit;
					li{
						display: list-item;
					}
				}
				&>li:hover {
				    background-color:#e0e0e0;
				}
			}
			li{
				display: inline-block;
				vertical-align: middle;
				background-color:#F5F5F5;
				color:#8A91A5;
				padding: .5% 10px;
				font-weight:600; 
				min-width:100px;
				height:30px;
				max-width: 350px;
				margin:auto 2px;
				border-radius:5px;
				cursor:pointer;
				p{
					display: inline-block;
					float: left;
					max-width: 200px;
					margin: 0px;
					white-space: nowrap; 
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.zmdi-calendar-alt{
					margin-right:5px;
					margin-top:2px;
					font-size: 1.25em;
				}
				.cIcon{
					float: right;
				}
				i{
					float: right;
					padding-top:3px;
					margin-left: 3px;

				}
				.dialog{
					background-color: #fff;
					z-index:25;
					color:#545A6A;			
					box-shadow: 2px 2px 20px -5px #aaa,-2px 0px 20px -5px #aaa; 
					height: max-content;	
					position: absolute;
					padding: 20px;
					margin: 10px 0px;
					cursor: pointer;
					#abc{
						padding:6px 7px;
					}
					.searchBar{
						width: 100%;
						margin:4% auto;
						padding: 0px 0px;
						&:focus{
							outline-color: blue;
						}
						input{
							width: 90%;
							height: 100%;
							padding: 6px 12px;
							border: 0px solid #fff;
							&:focus{
								border: 0px solid #fff; 
								outline-color: transparent;
							}
							&::placeholder{
								font-weight:lighter;
								color: #aaa;
							}
						}
						i{
							color: #aaa;
							width: 10%;
							float: right;
							font-size: 1.5em;
							margin:0px;
							position: relative;
							top:3px;
						}
					}		
					.filList{
						height: 20vh;
						padding: 0px 3%;
						overflow-y:auto;
						overflow-x:hidden;
						label{
							display: flex;
							width: 100%;
							text-align: left;
							padding: 3% 0px;
							input[type="checkbox"]{
								display: none;
							}
							input[type="checkbox"]:checked +.glyphicon{
								color: rgba(#fff,1);
								background-color: $theme;
							}
							input[type="checkbox"]:checked +.zmdi{
								color: rgba(#fff,1);
								background-color: $theme;
							}
							span{
								float: right;
							}
							.zmdi{
								color: rgba($theme,0);
								font-weight: bold;
								text-align: center;
								background-color: white;
								width: 18px;
								height: 18px;
								margin:.5% 0px;
								margin-right: 4%;
								border: 1px solid #aaa;
								padding: .5% 1.3%;
								border-radius: 4px;
							}
							.glyphicon{
								color: rgba($theme,0);
								font-weight: lighter;
								background-color: white;
								margin:.5% 0px;
								margin-right: 4%;
								border: 1px solid #aaa;
								padding: .5%;
								border-radius: 4px;
							}
						}
					}	
					select{
						width: 100%;
						padding:3% 5%;
						border-width: 0px;
						border-radius: 4px;
						background-color: #EEF0F6;
						margin-bottom: 5px;
					}
					option{
						background-color: #fff;
						border-radius: 5px;
						box-shadow: 2px 2px 20px -5px #aaa,-2px 0px 20px -5px #aaa;
					}
					i{
						position: absolute;
						top:5px;
						right: 5px;
					}

					.radio-toolbar input[type="radio"] {
					  display: none;
					}

					.radio-toolbar label {
					  	display: inline-block;
					  	background-color: #fff;
					  	color:$theme;
					  	font-family: Arial;
					  	padding: 3% 10px;
					  	font-size: 12px;
					  	width: 48%;
					  	border: 1px solid #D5D7DD;
						border-radius: 5px;
					  	cursor: pointer;
					}
					.radio-toolbar form{
					  	padding:0px;
						margin:1% auto;
						width: 100%;
						text-align: center; 
					}
					.radio-toolbar input[type="radio"]:checked+label {
					  background-color: #8A91A5;
					  color:white;

					}
					.radio-toolbar{
						margin:0;
						margin-bottom: 15px;

						p{
							margin:0px;
							width: 100%;
						}
						.timeGrp{
						  	background-color: #fff;
						  	border-radius: 3px;	
						  	margin:5% auto;
						  	display: inline-block;
						  	vertical-align: middle;
						  	input{
						    	display:none;
						    	margin: 100%;
						    	float: left;
						  	}
						  	input:checked + label{
						  		color:$theme;
						    	background-color:#EEF0F6;
						  	}
						  	label:first-of-type{
						    	border-radius: 3px 0px 0px 3px;
						    	position: relative;
						    	float: left;
						  	}
						   	label:last-of-type{
						    	border-radius: 0px 3px 3px 0px;
						    	position: relative;
						    	float: left;
						  	}
						  	label{
						  		text-align: center;
						    	position: relative;
						    	float: left;
						    	height: 100%;
						    	font-weight: bold;
						    	display: inline-block;
						    	color:$theme;
						    	margin: -0.5px;
						    	padding: 3% 0px;
						    	font-size: 12px;
						    	cursor: pointer;
						    	background-color: white;
						    	border-radius: 0px;
						    	border: 1px solid #aaa; 
						  	}
						}
						.lat{
							width: 100%;
							margin: 7% auto;
							margin-top: 2%;
							label{
								width: calc(33.333% + .9px);
							}
						}
						.tspl{
							width: 100%;
							label{
								text-align: center;
								margin: -1px;
								width:calc(20%);

							}
						}
						.cur{
							width: 100%;
							margin: 7% auto;
							margin-top: 2%;
							label{
								width:calc(50% + .9px);	
							}
						}
					}
					&::before{
						content: "";
					    transform: rotate(135deg);
					    position: absolute;
					    top: -1.5%;
					    box-shadow: -2px 2px 10px -2px #aaa;
					    left: 50%;
						margin-left: -5px;
				    border-width: 5px;
				    border-style: solid;
				    border-color:transparent transparent #fff #fff;
					}
				}
				.splitsdialog{
						position: absolute;
						top: 75%;
					    //left: 0%;
					    width:120px;

					}

				.splitsfilter{
					top: 75%;
					width:235px;
					&::before{
						content: "";
					    transform: rotate(135deg);
					    position: absolute;
					    top: -1.5%;
					    box-shadow: -2px 2px 10px -2px #aaa;
					    left: 10%;
						margin-left: -5px;
				    border-width: 5px;
				    border-style: solid;
				    border-color:transparent transparent #fff #fff;
					}
				}
				.timesplitdialog{
					top:80%;
					width: 235px;
					&::before{
						content: "";
					    transform: rotate(135deg);
					    position: absolute;
					    top: -1.5%;
					    box-shadow: -2px 2px 10px -2px #aaa;
					    left: 5%;
						margin-left: -5px;
				    border-width: 5px;
				    border-style: solid;
				    border-color:transparent transparent #fff #fff;
					}
					.radio-toolbar{
						margin-bottom:0px; 
					}
				}
			}
			
			ul li span i{
				//position: absolute;
				right: 5px;

			}
		}
	}
}
.total{
	height: 100%;
	.status{
		display: table;
		width: 100%;
		height: 100%;
		>div{
			height: 100%;
		}
		>span{
			display: table-cell;
			text-align: center;
			font-size: 2em;
			vertical-align: middle;
		}
	}
	ul{
		list-style-type: none;
		text-align: center;
		height: 100%;
		margin:auto;
		display: flex;
		flex-wrap:wrap;
		justify-content:center;
		padding: 5%;
		li{
			display: inline-block;
  			vertical-align: middle;
			margin: auto 10px;
			height: max-content;
		}
		.totName{
			color:#888;
			font-size: 1.4em;
			text-weight:light;
		}
		.totVal{
			font-size: 2.5em;	
		}	
	}	
}
.stat{
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
	.chartTitle{
		width: 100%;
		text-align: left;
		h1{
			display: inline-block;
			font-size: 2em;
			font-weight:bolder;
		}
		i{
			font-style:normal;
			font-size: 1.2em;
			color:#8088A0;
		}
	}
	.status{
		display: table;
		width: 100%;
		height: 100%;
		>div{
			height: 100%;
		}
		span{
			display: table-cell;
			text-align: center;
			font-size: 2em;
			vertical-align: middle;
		}
		a{
			font-size: .75em;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	ul{
		height: 100%;
	}
	li{
		list-style-type: none;
		text-align: center;
		margin:auto;
		padding: 10px;
	}
	.gChart{
		height: 400px;
		width: 100%;
		margin-left: -75px;
	}
}
.split{
	padding:0%;
	height: 100%;
	th>span{
		height: 10px;
		width: 100px;
	}
	i{
		position: relative;
		top:6px;
	}
	.status{
		display: table;
		width: 100%;
		height: 100%;
		>div{
			height: 100%;
		}
		>span{
			display: table-cell;
			text-align: center;
			font-size: 2em;
			vertical-align: middle;
		}
	}
	table{
		border-collapse:collapse;
		width: 100%;
		//font-size: 8px;
		tr{
			text-align: left;
			border-bottom: .5px solid #aaa;
			//border-top: .5px solid #aaa;
		}
		th{
			position:sticky;
			top:0px;
			height: 20px;
			color:#aaa;
			background-color: #fff;
			z-index: 20;
		}
		td,th{
			padding: 1%;
		}
	}
}


.main ul li .popupdim{
	display: inline-block;
	position: relative;
	background-color: white;
	color: white;
	.popup-text {
		
	    width: 100px;
	    background-color: #fff;

	    color: #555;
	    
	    text-align: center;
	    border-radius: 6px;
	    position: absolute;
	    box-shadow: 2px 2px 10px 0px #aaa;
	    z-index: 1;
	    left: 30px;
	    top: -75px;
	    margin-left: 80px;	
		transition: all 2s;
		hr{
			color:#555;
			border:0.5px solid #ccc;
			width: 90%;
			height: 0px;
			border-radius: 100%;
			margin:0 auto;
		}
		p{
			margin: 0;
			padding:8px 0px;
			&:first-child{
				border-radius: 6px 6px 0px 0px;
			}
			&:last-child{
				border-radius: 0px 0px 6px 6px;
			}
		}
	     p:hover{
	     	cursor: pointer;
	     	background-color: rgba(#eee,0.5) !important;
	     }
		}

		.popup-text::before {
	    content: "";
	    transform: rotate(45deg);
	    position: absolute;
	    top: 45%;
	    box-shadow: -2px 2px 10px -2px #aaa;
	    left: -.4%;
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
	    border-color:transparent transparent #fff #fff;
	}
}