$theme:#8A91A5;
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
}
.dover{
	background-color: black;
}
#dimensions
{	
}

.navbar img{
	width: 50%;
}
.navbar{
	margin: 0;
}
body{
	background-color: #F4F4F4;
	box-sizing: border-box;
	height: 100vh;
	color: #545A6A;
	overflow-x:auto;
	font-family: 'Montserrat', sans-serif;
	*::-webkit-scrollbar-track
	{
		
		background-color: #ffffff;
	}

	*::-webkit-scrollbar
	{
		width: 7px;
		background-color: #F5F5F5;
	}

	*::-webkit-scrollbar-thumb
	{	
		border-radius: 50px;
		background-color: rgba(#999,.1);
	}
}

a{
	text-decoration: none;
}
a:hover{
	text-decoration:none;
}
.daterangepicker.dropdown-menu{
	
} 
.daterangepicker_input{
	width: 50%;
}

#menu2 div.calendar.right div.calendar-table table tbody{
	display: none;
}

#menu2 div.calendar.right div.calendar-table table thead tr:nth-child(2){
	display:none;
}


#menu2 div.calendar.right div.calendar-table table thead th.month{
	display: none;
}
#menu2 div.calendar.right div.calendar-table i{
	position: absolute;
	top: 55px;
	left: 220px;
}
#menu2 div.calendar.right{
	width: 0px;
}
.col-sm-12 {
	float: left;
}
.col-sm-11 {
    width: 91.66666667%;
    float: left;
}
#menu2 div.ranges{
clear: both;
}
#menu2 div.calendar.right div.daterangepicker_input {
	width: 120px;
	position: absolute;
 		left: 120px;
 		top:8px;
}
.resultsView{
	background-color: #fff;	
	flex:1 1 auto;	
	position: relative;
	overflow-y:auto;
	overflow-x:auto; 
	height:60vh;
	width: 98%;
	margin:0px auto;
	box-sizing:content-box;
}
.navView{
	height: max-content;
	padding: 1%;
	flex:0 1;
	.viewOption{
		float: right;
		min-width: max-content;
		#numForm{
			background-color: #fff;
			padding:0% 0%;
			border-radius:5px; 
			label[for="withf"]{
				border-radius: 0px 5px 5px 0px;
			}
			label[for="nonf"]{
				border-radius: 5px 0px 0px 5px;
			}
			label{
				background-color: #fff;	
				padding:5% 10%;
				height: 100%;
				margin: 0px;
			}
			input:checked + label{
				background-color: $theme;
				box-shadow: inset 1px 1px 10px -2px #555;
				color:#fff;	
			}
		}
		span{
			float: left;
			margin: 0px 5px;
			width: max-content;
			input{
				display: none;
			}
			button{
				padding: 5% 0px;
			}
			//display: inline-block;
		}
		button{
			padding: 0.3% 0px;
			i{
				position: relative;
				top:2px;
			}
		}
	}
	i{
		margin:0px 5px;
	}
	.active{
		background-color: $theme;
		color:#fff;	
		border: 0px solid $theme;
	}
	button{
		outline-color: none;
		background-color: white;
		box-shadow: none;
		position: relative;
		width: max-content;
		color:$theme;
		margin:0px 0.5%;
		padding: .3% 1%;
		border-radius:5px; 
		border: 0px solid #eee;
		i{
			font-size: 1.5em;
			margin-right:5px;
			position: relative;
			top:2px;
		}
		span{
			position: relative;
			top:-3px;
			font-size: 1em;
		}
	}
}
.container-fluid{
	background-color: white;
	box-shadow:0 2px 5px -2px #888;
	i{
		color:#EC5959;
		-webkit-transition:1s; /* Safari */
    	transition:1s;
		&:hover{
			color:#FFF;
			background-color:#EC5959;
			-webkit-transition:1s; /* Safari */
    		transition:1s; 
		}
	}
}
#container-fluid{
	padding: 0% 1%;
	width: 100%;
	#dimensions,#viewcontainer,#measures{
		float: left;
	}
	#dimensions,#measures{
		background-color: white;
		min-height: 100%;
		padding: 0px 1%;
		width: 22%;
		height: 90vh;
		overflow-y:scroll;
		overflow-x:auto;
	}
	li{
		list-style: none;
		margin-left:3%; 
	}
	#dimensions li,#measures li{
		padding: 1%;
		a{
			color: #545A6A;
			&:hover{
				color: #52ACEE;	
				background-color: #e1e1e1;	
			}
		}
	}
	ul{
		padding: 0;
	}

	.searchicon {
		div{
			margin-left: 6%;
			font-weight:bold;
			font-size: 1.1em;
			padding: 3% 0px;
		}
		.searchBar{
			width: 100%;
			margin:4% auto;
			padding: 0px 3%;
			&:focus{
				outline-color: blue;
			}
			input{
				width: 90%;
				height: 100%;
				border: 0px solid #fff;
				&:focus{
					border: 0px solid #fff; 
					outline-color: transparent;
				}
			}
			i{
				width: 10%;
				float: right;
				position: relative;
				top:3px;
			}
		}
		
	}

	
	#viewcontainer{
		padding: 0% 0%; 
		height: 90vh;
		width: 56%;		//	width:max-content;
		display: flex;
		flex-flow: column;
		#filterwrapper{
			background-color: #fff;
			height: max-content;
			margin:0% 0px;
			padding: 0% 0%;
			padding-top: 1%;
			box-shadow: inset 17px 0px 25px -25px rgba(0,0,0,0.45), inset -17px 0px 25px -25px rgba(0,0,0,0.45);
			//width: 100%;
			flex:0 1;
		}	
		.rules{
			//width: 100%;
			//border-bottom: 
			width: 100%;
			border-bottom: 1px solid #E7EAF0;
			height: 8vh;
			.row{
				display: flex;
				height: 100%;
			}
			display:table-cell;
			//height: 30%;
			padding: 0% 2%;
			label{
				width: max-content;
				margin:auto 1px;
				//text-align: right;
			}
			ul{
				min-width: 50%;
				margin: 0px;
				padding:1% 1%;
				height: 100%;
				display: flex;
				//border: 1px solid #d3d3d3;
			}
			li{
				display: inline-block;
				vertical-align: middle;
				background-color:#F5F5F5;
				color:#8A91A5;
				padding: 1% 10px;
				height: max-content;
				font-weight:600; 
				min-width:max-content;
				max-width: 20%;
				margin:auto 2px;
				border-radius:5px;
				
				p{
					display: inline-block;
					margin: 0px;
					float: left;
					white-space: nowrap; 
					overflow: hidden;
					text-overflow: ellipsis;
				}
				span{
					float: right;
				}
				i{
					float: right;
					padding-top:3px;
					margin-left: 3px;

				}
				.dialog{
					background-color: #fff;
					z-index:25;
					box-shadow: 1px 1px 5px #aaa; 
					width: max-content;
					height: max-content;	
					position: absolute;
					padding: 20px;
					margin: 10px;
					cursor: pointer;
					input[type="text"]{
						width: 100%;
						margin:2% 0px;
						select,option{
							z-index: 20
						}
					}
					
					.filList{
						height: 20vh;
						overflow-y:auto;
						overflow-x:hidden;
						label{
							display: block;
							width: 100%;
							text-align: left;
							padding: 4% 0px;
							input[type="checkbox"]{
								display: none;
							}
							input[type="checkbox"]:checked +.glyphicon{
								color: rgba(#fff,1);
								background-color: $theme;
							}
							.glyphicon{
								color: rgba($theme,0);
								font-weight: lighter;
								background-color: white;
								margin:3% 0px; 
								border: 1px solid #aaa;
								padding: .5%;
							}
						}
					}	
					select{
						width: 100%;
					}
					i{
						position: absolute;
						top:5px;
						right: 5px;
					}

					.radio-toolbar input[type="radio"] {
					  display: none;
					}

					.radio-toolbar label {
					  	display: inline-block;
					  	background-color: #fff;
					  	color:$theme;
					  	font-family: Arial;
					  	padding: 2px 10px;
					  	font-size: 12px;
					  	width: initial;
					  	border: 1px solid #aaa;
						border-radius: 3px;
					  	cursor: pointer;
					}
					.radio-toolbar form{
					  	padding:0px;
						margin:1% auto;
						width: max-content; 
					}
					.radio-toolbar input[type="radio"]:checked+label {
					  background-color: #8A91A5;
					  color:white;

					}
					.radio-toolbar{
						width: 50%;
						margin:0;
						.lat{
							width: 100%;
							label{
								width: calc(33.333% + .9px);
							}
						}
						.cur{
							width: 100%;
							margin:auto;
							label{
								width:calc(50% + .9px);	
							}
						}
						p{
							margin:0px;
						}
						.timeGrp{
						  	background-color: #fff;
						  	border: 1px solid #aaa;
						  	border-radius: 3px;	
						  	margin:5% auto;
						  	display: inline-block;
						  	vertical-align: middle;
						  	input{
						    	display:none;
						    	margin: 100%;
						    	float: left;
						  	}
						  	input:checked + label{
						  		color:$theme;
						    	background-color:rgba($theme,0.3);
						  	}
						  	label:first-of-type{
						    	border-radius: 3px 0px 0px 3px;
						    	position: relative;
						    	float: left;
						  	}
						   	label:last-of-type{
						    	border-radius: 0px 3px 3px 0px;
						    	position: relative;
						    	float: left;
						  	}
						  	label{
						  		text-align: center;
						    	position: relative;
						    	float: left;
						    	height: 100%;
						    	display: inline-block;
						    	color:$theme;
						    	margin: -0.5px;
						    	padding: 1% 10%;
						    	font-size: 12px;
						    	cursor: pointer;
						    	background-color: white;
						    	border-radius: 0px;
						    	border: 1px solid #aaa; 
						  	}
						}
					}
				}
			}
			ul li span i{
				//position: absolute;
				right: 5px;

			}
		}
	}
}
.total{
	ul{
		list-style-type: none;
		text-align: center;
		padding: 5%;
		li{
			display: inline-block;
			margin: 10px;
		}
		.totName{
			color:#888;
			font-size: 1.5em;
			text-weight:light;
		}
		.totVal{
			font-size: 2em;	
		}	
	}	
}
.stat{
	width: 100%;
	height: 100%;
	.status{
		display: table;
		width: 100%;
		height: 100%;
		span{
			display: table-cell;
			text-align: center;
			font-size: 2em;
			vertical-align: middle;
		}
		a{
			font-size: .75em;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	ul{
		height: 100%;
	}
	li{
		list-style-type: none;
		text-align: center;
		margin:auto;
		padding: 10px;
	}
	.gChart{
		height: 400px;
	}
}
.split{
	padding:0%;
	table{
		border-collapse:collapse;
		width: 100%;
		.status{
			display: table;
			width: 100%;
			height: 100%;
			>span{
				display: table-cell;
				text-align: center;
				font-size: 2em;
				vertical-align: middle;
			}
		}
		//font-size: 8px;
		tr{
			text-align: left;
			border-bottom: .5px solid #aaa;
			//border-top: .5px solid #aaa;
		}
		th{
			position:sticky;
			top:0px;
			color:#aaa;
			background-color: #fff;
			z-index: 20;
		}
		td,th{
			padding: 1%;
		}
	}
}