<div class="stat">
	<div class="status" ng-switch="chart.status">
		<span ng-switch-when="0">Split By Time<br><a href="JavaScript:void(0)" ng-click="chart.addTime()">Add Time Split</a></span>
		<div  ng-switch-when="1">
			<div class="loaderContainer" ng-if="!chart.loaded">
				<div class="loader">
				  <div class="loader__bar"></div>
				  <div class="loader__bar"></div>
				  <div class="loader__bar"></div>
				  <div class="loader__bar"></div>
				  <div class="loader__bar"></div>
				  <div class="loader__ball"></div>
				</div>
			</div>
			<ul ng-if="chart.loaded">
				<li ng-repeat="m in chart.metrics" >
					<div class="chartTitle">
						<h1>{{chart.result[m]|numberSuffix:1:val.nFormat}}</h1>
						<i> {{m|removeText:"(HB Rendered Ad)"}}</i>	
					</div>
					<section ng-if="!chart.chartLoaded" class="chartloader"></section>
					<section ng-if="chart.chartLoaded" class="gChart" google-chart chart="chart.chart[{{$index}}]"></section>
				</li>
			</ul>
		</div>
		<span ng-switch-when="2">Too Many Split</span>	
		<span ng-switch-when="3">Some Error Occured<br>Check Network</span>	
	</div>
</div>