<!-- maincntr as cntr.  -->

<div class="main" id="container-fluid">
	<div class="row">
			<div ng-repeat="list in cntr.dimensions" id="dimensions" >
			<div class="searchicon"> 
				<div>{{list.label}} ({{list.people.length}})</div> 
				<span class="searchBar form-control">
					<input type="text" ng-model="cntr.searchd" placeholder="Search">
					<i class="material-icons">search</i>	
				</span>
			</div>
			<ul>
	    		<li ng-repeat="person in list.people | searching:cntr.searchd"
	    			dnd-type="person.type" 
	        		dnd-draggable="person" 
	        		dnd-moved="list.people.splice($index, 1)" 
	        		dnd-effect-allowed="copy" 
	        		draggable="true"
	        		dnd-selected="person.popupadd=true">
	        		<p>&nbsp;&nbsp;{{person.name}}</p>
	        		<span class="popupdim" ng-if="person.popupadd===true">
		        		<span class="popup-text"  popup dimname="person">	
		        			<p ng-click="cntr.dimzoneclicked(person,$event);$event.stopPropagation();">Filters</p>
		        			<hr>
		        			<p  ng-click="cntr.dimzoneclicked(person,$event);$event.stopPropagation();">Split</p>
		        		</span>	
	        		</span>
	        	</li>      
			</ul>
		</div>
		<div id="viewcontainer">
			<div id="filterwrapper">
				<div ng-repeat="list in cntr.lists" class="col-sm-12 rules">
					<div class="row">
						<label class="col-sm-1">{{list.label}}</label>
		   					<ul  
		   						class="col-sm-11" 
		   						dnd-list="list.people"  
		   						dnd-horizontal-list="true" 
		   						dnd-allowed-types="list.allowedTypes"
							dnd-drop="cntr.dropCallback(index, item, external,type,list,event)">
	        				<li ng-repeat="person in list.people track by $index"
	        					ng-class="{timeLi:(list.label==='Filters'&&person.name==='Time')}" 
	        					ng-if="list.people.length>0"
	        					dnd-type="person.type" 
	            				dnd-draggable="person" 
	            				dnd-moved="list.people.splice($index, 1)" 
	            				dnd-effect-allowed="copy" 
	            				draggable="true"   
	            				dnd-selected="cntr.splitfilterclicked(list,person,event,$index);$event.stopPropagation()">
	            				<p>{{person.name}}</p>
	            				<span ng-if="list.label==='Filters'">
									<span ng-if="person.name==='Time'">
										({{' '+cntr.request.startTime.split(' ')[0] + " - " + cntr.request.endTime.split(' ')[0]}})
									</span>
									<span ng-if="person.name!='Time'&& person.clickok">
										<span ng-if="person.filtertype==='Regex'">({{person.filtersearch}})
										</span>
										<span  ng-if="person.filtertype==='in'">
											{{person.filteroptions | countselected}}
										</span>
									</span>
								</span> 			
	            				<span class="cIcon" ng-if="!(person.name==='Time'&&list.label==='Filters')" ng-click="list.people.splice($index, 1);$event.stopPropagation()"><i class="zmdi zmdi-close"></i></span>								
								<div thing-test exact="person.name" index="$index" listname="list.label" persons="cntr.lists" class="dialog" ng-if="list.label==='Split'&& person.thresholdselect">
									<i class="zmdi zmdi-close" ng-click="person.thresholdselect=false; $event.stopPropagation();"></i>
									<div ng-if="person.name!='Time'">
										<h5>Limit: </h5><br>
										<select ng-model="person.threshold" ng-selected="true"> 
								  			<option value="2">2</option>
								  			<option value="3">3</option>
								 			<option value="5" ng-selected="true">5</option>
										</select>
									</div>
									<div ng-if="person.name=='Time'">
										<div class="radio-toolbar">
											<div class="timeGrp tspl">
									  			<input type="radio" id="radio1" ng-model="cntr.person.granularity" ng-value="'60000'" >
									  			<label for="radio1">1M</label>
									  			<input type="radio" id="radio2" ng-model="cntr.person.granularity" ng-value="'300000'">
									  			<label for="radio2">5M</label>
									  			<input type="radio" id="radio3" ng-model="cntr.person.granularity" ng-value="3600000" checked>
										  		<label for="radio3">1H</label>
								  				<input type="radio" id="radio4"  ng-model="cntr.person.granularity" ng-value="86400000">
								  				<label for="radio4">1D</label>
								 	 			<input type="radio" id="radio5" ng-model="cntr.person.granularity" ng-value="604800000">
								  				<label for="radio5">1W</label>
											</div>
										</div>
									</div>
								</div>
								<div thing-test exact="person.name" index="$index" listname="list.label" persons="cntr.lists" class="dialog" ng-if="list.label==='Filters' &&  person.filterselect" ng-click="$event.stopPropagation();">
									<!-- <i ng-if="person.name!='Time'" class="zmdi zmdi-close-circle" ng-click="person.filterselect=false;list.people.splice($index, 1); $event.stopPropagation();"></i> -->
									<i ng-if="person.name=='Time'" class="zmdi zmdi-close-circle" ng-click="person.filterselect=false; $event.stopPropagation();"></i>
									<div ng-if="person.name!='Time'">
										<select ng-model="person.filtertype"> 
						  					<option value="in">in</option>
						  					<option value="regex">Regex</option>
										</select>
										<input type="text" ng-model="person.filtersearch">
										<div ng-if="!cntr.loaded" class="filList jc">
											<div  class="jawn"></div>
										</div>
										<div ng-if="cntr.loaded" class="filList">
											<label ng-if="person.filtertype==='in'" ng-repeat="filterop in person.filteroptions | searching:person.filtersearch:'fname':person.filtertype">
									 			<input type="checkbox"
									    			value="{{filterop.fname}}"
									    			ng-model="filterop.selected">
									    		<span class="glyphicon glyphicon-ok white"></span>

									    		{{filterop.fname}}
											</label>
											<label ng-if="person.filtertype==='regex'" ng-repeat="filterop in person.filteroptions | searching:person.filtersearch:'fname':person.filtertype">
											{{filterop.fname}}
											</label>		
										</div>	
										<div class="conbtn">
											<button class="okbtn btn" ng-click="cntr.filterclickok($event,person,list);$event.stopPropagation();">OK
											</button>
											<button class="cancelbtn btn" ng-click="cntr.cancelfilterclicked(person,list); $event.stopPropagation();">Cancel</button>
										</div>
									</div>
									<div ng-if="person.name=='Time'">
										<div class="radio-toolbar" >
											<form>
												<input type="radio" id="Relative" ng-model="person.filtertype" ng-value="'Relative'" ng-selected="true">
							  					<label for="Relative">Relative</label>
												<input type="radio" id="Specific" ng-model="person.filtertype" ng-value="'Specific'">
							  					<label for="Specific">Specific</label>
							 				</form> 
										</div>
										<div class="radio-toolbar" ng-if="person.filtertype=='Relative'" >
											<p>Latest</p>
											<div class="timeGrp lat">
								  				<input type="radio" id="L1H" ng-model="person.filtersearch" ng-value="'1H'"  >
								  				<label for="L1H" class="btn">1H</label>
												<input type="radio" id="L6H" ng-model="person.filtersearch" ng-value="'6H'">
								  				<label for="L6H" class="btn">6H</label>
												<input type="radio" id="L1D" ng-model="person.filtersearch" ng-value="'1D'">
								  				<label for="L1D" class="btn">1D</label>
											</div>
											<p>Current</p>
											<div class="timeGrp cur">
								  				<input type="radio" id="LD"  ng-model="person.filtersearch" ng-value="'LCD'">
								  				<label for="LD">D</label>
								  				<input type="radio" id="LW" ng-model="person.filtersearch" ng-value="'LCW'">
								  				<label for="LW">W</label>
							  				</div>
											<p>Previous</p>	
											<div class="timeGrp cur">
								  				<input type="radio" id="LPD"  ng-model="person.filtersearch" ng-value="'LPD'">
								  				<label for="LPD">D</label>
								  				<input type="radio" id="LPW" ng-model="person.filtersearch" ng-value="'LPW'">
								  				<label for="LPW">W</label>
							  				</div>
										</div>
										<div ng-if="person.filtertype=='Specific'">
											<my-calender date="cntr.datePicker.date" lists="cntr.lists">
											</my-calender>
											<!-- <button ng-click="cntr.setspecificdate(person);$event.stopPropagation()">OK</button>
											<button ng-click="cntr.setspecificdate(person);$event.stopPropagation()">OK</button> -->
											
										</div>
									</div>
								</div>
	        				</li>
						</ul>
					</div>	
	          	</div>
			</div>

			<div class="navView">
				<button ng-class="{'active': cntr.total==true}" ng-click="cntr.buttonsclicked('totals')">
				<i class="material-icons">functions</i><span>Total</span></button>
				<button ng-class="{'active': cntr.split==true}" ng-click="cntr.buttonsclicked('splitdata')">
				<i class="material-icons">border_all</i><span>Table</span></button>
				<button ng-class="{'active': cntr.chart==true}" ng-click="cntr.buttonsclicked('charts')">
				<i class="material-icons">trending_up</i><span>Line Chart</span></button>
				<div class="viewOption">
					<span id="numForm">
						<input id="nonf" ng-model="val.nFormat" ng-value="false" type="radio" name="numForm" >
						<label for="nonf">1,000</label>
						<input id="withf" ng-model="val.nFormat" ng-value="true" type="radio" name="numForm" checked>
						<label for="withf">1K</label>
					</span>
					<span><button ng-click="cntr.refresh()"><i class="material-icons">sync</i></button></span>
					<span><button><i class="material-icons">fullscreen</i></button></span>
				</div>
			</div>
			<div class="row resultsView">
				<ui-view></ui-view>
			</div>
		</div>	
	    <div ng-repeat="list in cntr.measures" id="measures">
	    	<div class="searchicon"> 
	      		<div>{{list.label}} ({{list.people.length}})</div> 
	      		<span class="searchBar form-control">
	      			<input type="text" ng-model="cntr.searchm" placeholder="Search">
	      			<i class="material-icons">search</i>	
				</span>
	      	</div>
	        <ul>
	            <li ng-repeat="person in list.people | searching:cntr.searchm"
	            	dnd-type="person.type" 
	                dnd-draggable="person" 
	                dnd-moved="list.people.splice($index, 1)" 
	                dnd-effect-allowed="copy" 
	                dnd-selected="cntr.measurezoneclicked(person,event)"
	                draggable="true"><a href="Javascript:void(0)"><p>&nbsp;&nbsp;{{person.name}}</p></a>
	            </li>  
	        </ul>
	    </div>
	</div>	
</div>