<!DOCTYPE html>
<html lang="en">
<head>
	<title>Document</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<script type="text/javascript" data-main=rconfig.js src="require.js"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
	
	<style type="text/css">
	

	/* #container ul{
		padding: 10px;
		background-color: cyan;
	}
	#container ul:first-child{
		background-color: yellow;
		
	}
	#container li{
		padding: 5px;
		background-color: #b6e3fc;
		list-style: none;
		border-radius: 10%;
	
		margin: 2px; 	
		display: inline;
	}  */

	
	</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#"><img src="http://www.media.net/Content/images/images2014/logo-mediaNet.png"></a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>      
	    </ul>
	  </div>
	</nav>
	<div ng-controller="MainCtrl"  id="container-fluid">
   		<div class="row">
    		<div ng-repeat="list in dimensions" class="col-sm-2" id="dimensions" >
      			<div id="searchicon"> 
      				<div>{{list.label}}</div> 
      				<i class="zmdi zmdi-search "></i>
      				<input class="form-control" type="text" ng-model="searchd">
      			</div>
        		<ul >
            		<li ng-repeat="person in list.people | searching:searchd"
            			dnd-type="person.type" 
                		dnd-draggable="person" 
                		dnd-moved="list.people.splice($index, 1)" 
                		dnd-effect-allowed="copy" 
                		draggable="true">
                		<a href="#"><div><i class="zmdi zmdi-time"></i>&nbsp;&nbsp;{{person.name}}</div></a>
                	</li>      
        		</ul>
    		</div>
    		<div id="viewcontainer" class="col-sm-8">
   				<div class="row" id="filterwrapper">
	    			<div ng-repeat="list in lists" class="col-sm-12 rules">
	    				<div class="row">
	    					<label class="col-sm-1">{{list.label}}</label>
     	   					<ul class="col-sm-10" 
     	   						dnd-list="list.people"  
     	   						dnd-horizontal-list="true" 
     	   						dnd-allowed-types="list.allowedTypes"
        						dnd-inserted="dropCallback(index, item, external, type,list)">
	            				<li ng-repeat="person in list.people" 
	            					ng-if="list.people.length>0"
	            					dnd-type="person.type" 
	                				dnd-draggable="person" 
	                				dnd-moved="list.people.splice($index, 1)" 
	                				dnd-effect-allowed="copy" 
	                				draggable="true"   
	                				dnd-selected="splitfilterclicked(event,list,person)">{{person.name}} 			
	                				<span ng-if="!(person.name==='Time'&&list.label==='Filters')" ng-click="list.people.splice($index, 1)"><i class="zmdi zmdi-close-circle"></i></span>
									<div thing-test exact="person.name" index="$index" listname="list.label" class="dialog" ng-if="list.label==='Splits'&& person.thresholdselect">
										<i class="zmdi zmdi-close-circle" ng-click="person.thresholdselect=false; $event.stopPropagation();"></i>
										<div ng-if="person.name!='Time'">
											<h5>Limit: </h5><br>
											<select ng-model="person.threshold" ng-selected="true"> 
									  			<option value="2">2</option>
									  			<option value="3">3</option>
									 			<option value="5" ng-selected="true">5</option>
											</select>
										</div>
										<div ng-if="person.name=='Time'">
											<div class="radio-toolbar">
									  			<input type="radio" id="radio1" ng-model="person.granularity" ng-value="'60000'" >
									  			<label for="radio1">1M</label>
									  			<input type="radio" id="radio2" ng-model="person.granularity" ng-value="'300000'">
									  			<label for="radio2">5M</label>
									  			<input type="radio" id="radio3" ng-model="person.granularity" ng-value="3600000" checked>
										  		<label for="radio3">1H</label>
								  				<input type="radio" id="radio4"  ng-model="person.granularity" ng-value="86400000">
								  				<label for="radio4">1D</label>
								 	 			<input type="radio" id="radio5" ng-model="person.granularity" ng-value="604800000">
								  				<label for="radio5">1W</label>
											</div>
										</div>
									</div>
									<div thing-test exact="person.name" index="$index" listname="list.label" class="dialog" ng-if="list.label==='Filters' &&  person.filterselect" ng-click="$event.stopPropagation();">
										<i class="zmdi zmdi-close-circle" ng-click="person.filterselect=false; $event.stopPropagation();"></i>
										<div ng-if="person.name!='Time'">
											<select ng-model="person.filtertype"> 
							  					<option value="in">in</option>
							  					<option value="regex">Regex</option>
											</select>
											<input type="text" ng-model="person.filtersearch">
											<label ng-if="person.filtertype==='in'" ng-repeat="filterop in person.filteroptions | searching:person.filtersearch:'fname':person.filtertype">
									 			<input type="checkbox"
									    			value="{{filterop.fname}}"
									    			ng-model="filterop.selected">{{filterop.fname}}
											</label>
											<label ng-if="person.filtertype==='regex'" ng-repeat="filterop in person.filteroptions | searching:person.filtersearch:'fname':person.filtertype">
											{{filterop.fname}}
											</label>		
											<button ng-click="filterclickok($event,person,list);$event.stopPropagation();">OK
											</button>
											<!-- <button ng-click="person.filterselect=false; $event.stopPropagation();">Cancel</button> -->
										</div>
										<div ng-if="person.name=='Time'">
											<div class="radio-toolbar" >
												<form>
													<input type="radio" id="Relative" ng-model="person.filtertype" ng-value="'Relative'" ng-selected="true">
								  					<label for="Relative">Relative</label>
													<input type="radio" id="Specific" ng-model="person.filtertype" ng-value="'Specific'">
								  					<label for="Specific">Specific</label>
								 				</form> 
											</div>
											<div class="radio-toolbar" ng-if="person.filtertype=='Relative'" >
												<p>Latest</p>
								  				<input type="radio" id="L1H" ng-model="person.filtersearch" ng-value="'1H'"  >
								  				<label for="L1H">1H</label>
												<input type="radio" id="L6H" ng-model="person.filtersearch" ng-value="'6H'">
								  				<label for="L6H">6H</label>
												<input type="radio" id="L1D" ng-model="person.filtersearch" ng-value="'1D'">
								  				<label for="L1D">1D</label>
												<p>Current</p>
								  				<input type="radio" id="LD"  ng-model="person.filtersearch" ng-value="'LCD'">
								  				<label for="LD">D</label>
								  				<input type="radio" id="LW" ng-model="person.filtersearch" ng-value="'LCW'">
								  				<label for="LW">W</label>
												<p>Previous</p>	
								  				<input type="radio" id="LPD"  ng-model="person.filtersearch" ng-value="'LPD'">
								  				<label for="LPD">D</label>
								  				<input type="radio" id="LPW" ng-model="person.filtersearch" ng-value="'LPW'">
								  				<label for="LPW">W</label>
											</div>
											<div ng-if="person.filtertype=='Specific'">
												<input date-range-picker 	class="form-control date-picker"   type="text" ng-model="datePicker.date"  options="{locale: {format: 'DD-MM-YYYY'},opens:embed}"  />
												<button ng-click="setspecificdate(person);$event.stopPropagation()">OK</button>
											</div>
										</div>
									</div>
                				</li>
        					</ul>
						</div>	
		          	</div>
    			</div>
				{{lists}} <br>
    			{{request}}
    			<ui-view></ui-view>
			</div>
		    <div ng-repeat="list in measures" class="col-sm-2" id="measures">
		    	<div id="searchicon"> 
		      		<div>{{list.label}}</div> 
		      		<i class="zmdi zmdi-search "></i>
		      		<input class="form-control" type="text" ng-model="searchm">
		      	</div>
		        <ul>
		            <li ng-repeat="person in list.people | searching:searchm"
		            	dnd-type="person.type" 
		                dnd-draggable="person" 
		                dnd-moved="list.people.splice($index, 1)" 
		                dnd-effect-allowed="copy" 
		                draggable="true"><a href="#"><div><i class="zmdi zmdi-time"></i>&nbsp;&nbsp;{{person.name}}</div></a>
		            </li>  
		        </ul>
		    </div>
  		</div>	
	</div>
</body>
</html>